@import 'style/reset';
@import 'style/header';
@import 'style/list';
@import 'style/footer';

html,body {
  text-align: center;
  min-height: 100vh;
  clear: both;
  position: relative;
  overflow: auto;
}